<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1jLXrMLQlt-fh_aQMsV33MCB5hjrgCho</string>
	<key>GCM_SENDER_ID</key>
	<string>1080548201876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.objectdetection</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-1aa37</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-1aa37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080548201876:ios:e51017fb15a65c0b142b81</string>
</dict>
</plist>